/* Default styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #BCCCDC;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#img_edit {
    width: 100%;
    max-width: 570px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.giveaway_info {
    text-align: center;
    margin-bottom: 20px;
}

.timer_header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.header {
    border: 2px solid #063251;
    border-radius: 4px;
    padding: 5px;
    width: 70px;
    text-align: center;
    background-color: #063251;
    color: white;
}

.creator {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    #img_edit {
        max-width: 100%;
    }
}
